@use "../../styles/variables" as var;

.form {
  font-family: var.$main-font;
  background-color: var.$container-bg-color;
  padding: 32px;
  border-radius: var.$border-radius;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formLabel {
  font-size: 14px;
  font-weight: 600;
  color: var.$label-color;
  margin-bottom: -0.5rem;
}

.field {
  width: 300px;
  padding: 14px 16px;

  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
  font-size: 16px;
  color: var.$text-color;
  background-color: var.$field-bg-color;
  transition: border-color var.$transition-speed,
    box-shadow var.$transition-speed;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    outline: none;
    border-color: var.$primary-color;
    box-shadow: 0 0 0 3px var.$focus-glow-color;
  }
}

.error {
  color: var.$error-color;
  font-size: 14px;
  margin-top: 4px;
}